<div class="form-container">
  <form role="form" (submit)="submit()" #f="ngForm">
    <div>
      <mat-form-field class="w-100">
        <input matInput type="password" placeholder="Current password" [(ngModel)]="user.p" name="p" autocomplete="current-password">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-100">
        <input matInput type="password" placeholder="New password" [(ngModel)]="user.np" name="np" autocomplete="new-password">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-100">
        <input matInput type="password" placeholder="New password coonfirmation" [(ngModel)]="user.pc" name="np" autocomplete="new-password">
      </mat-form-field>
    </div>
    <br>
    <button mat-raised-button color="primary" class="w-100" type="submit">UPDATE</button>
  </form>
</div>
