/* You can add global styles to this file, and also import other style files */
@import 'styles-variables';
@import 'styles-reset';
@import '~@angular/material/theming';

@include mat-core();

body {
  background-color: #fafafa;
}

$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #448AFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$light-primary: mat-palette($mat-blue);
$light-accent: mat-palette($mat-yellow, 400);

$light-theme: mat-light-theme($light-primary, $light-accent);

@include angular-material-theme($light-theme);

.w-100 {
  width: 100%;
}

.mw-500 {
  max-width: 500px;
  margin: auto;
}

.clickable {
  cursor: pointer;
}
