<mat-card *ngIf="!editMode">
  <mat-card-title>Default server key</mat-card-title>
  <mat-divider></mat-divider>
  <br>
  <div *ngIf="(config$ | async) as config; else loading">
    <mat-checkbox matInput placeholder="Set as default key" [checked]="config.fallbackOnDefaultKey"
      (change)="updateFallbackOnDefaultKeyOption(!config.fallbackOnDefaultKey)" [disabled]="(formLocked$ | async)">
      Use a default key to fallback on
    </mat-checkbox>
    <br>
    <div *ngIf="config.fallbackOnDefaultKey">
      <br>
      <mat-divider></mat-divider>
      <br>
      <div>
        <div *ngIf="config.defaultKeyId; else noKey">
          <mat-card-content>
            <div *ngIf="(defaultKey$ | async) as key; else loading">
              <div *ngIf="(defaultKeyOwner$ | async) as user; else loading">
                <app-user-card [user]="user" [modes]="['display']"></app-user-card>
                <br>
                <app-key-card [key]="key" [userId]="user.id" [default]="user.defaultKeyId == key.id"></app-key-card>
              </div>
            </div>
          </mat-card-content>
        </div>
        <ng-template #noKey>
          <p>There is no fallback key on this server</p>
        </ng-template>
      </div>
    </div>
  </div>
  <mat-card-actions *ngIf="((config$ | async) || {}).fallbackOnDefaultKey">
    <button mat-raised-button color="primary" (click)="editMode=true; loadUserList()" [disabled]="(formLocked$ | async)"
      *ngIf="(defaultKeyOwner$ | async) && (defaultKey$ | async)">
      CHANGE
    </button>
    <button mat-raised-button color="primary" (click)="editMode=true; loadUserList()" [disabled]="(formLocked$ | async)"
      *ngIf="!((config$ | async) || {}).defaultKeyId">
      SET ONE
    </button>
  </mat-card-actions>
  <ng-template #loading>Loading...<br></ng-template>
</mat-card>
<mat-card *ngIf="editMode">
  <mat-card-title>Set a new server default key</mat-card-title>
  <mat-divider></mat-divider>
  <br>
  <br>
  <div *ngIf="(userList$ | async) as users; else loading">
    <mat-select type="text" (selectionChange)="newKeyId=null; loadUserKeys($event)" name="userId"
      placeholder="Select a user">
      <mat-option *ngFor="let user of users" [value]="user.id">{{ user.identity.commonName }}</mat-option>
    </mat-select>
  </div>
  <br>
  <div *ngIf="!keyListLoading; else loading">
    <div *ngIf="(keyList$ | async) as keys">
      <mat-select *ngIf="keys.length; else noKeys" type="text" name="keyId" [(ngModel)]="newKeyId"
        placeholder="Select a key">
        <mat-option *ngFor="let key of keys" [value]="key.id">{{ key.name }}</mat-option>
      </mat-select>
      <ng-template #noKeys>
        <mat-card class="error-card">This user don't have any key</mat-card>
      </ng-template>
    </div>
  </div>
  <br>
  <ng-template #loading>Loading...<br></ng-template>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!newKeyId || (formLocked$ | async)">
      SAVE
    </button>
    <button mat-button (click)="cancelEdit()" [disabled]="(formLocked$ | async)">CANCEL</button>
  </mat-card-actions>
</mat-card>
