<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Keys">
    <br>
    <config-key-expiration></config-key-expiration>
    <br>
    <config-fallback-key></config-fallback-key>
  </mat-tab>
  <mat-tab label="Server URLs">
    <br>
    <config-identity-url></config-identity-url>
    <br>
    <config-identity-exposure></config-identity-exposure>
    <br>
    <config-signature-url></config-signature-url>
    <br>
    <config-api-url></config-api-url>
    <br>
    <config-web-client-url></config-web-client-url>
  </mat-tab>
  <mat-tab label="Organization">
    <br>
    <config-organisation-name></config-organisation-name>
    <br>
    <config-logo-url></config-logo-url>
    <br>
    <config-html-frame></config-html-frame>
    <br>
    <config-contact></config-contact>
    <br>
    <config-password></config-password>
    <br>
    <config-ask-reset></config-ask-reset>
    <br>
    <config-enrollment-expiration></config-enrollment-expiration>
    <br>
    <config-tcu></config-tcu>
  </mat-tab>
  <mat-tab label="OpenID Connect">
    <br>
    <config-openid></config-openid>
    <br>
    <config-oidcp></config-oidcp>
  </mat-tab>
  <mat-tab label="ProofDesk account">
    <br>
    <config-proofdesk></config-proofdesk>
  </mat-tab>
  <mat-tab label="Mailing">
    <br>
    <config-stmp></config-stmp>
    <br>
    <config-mail-template></config-mail-template>
  </mat-tab>
</mat-tab-group>
