<mat-card>
  <form [formGroup]="clientForm">
    <mat-checkbox class="w-100" matInput *ngIf="clientForm.get('noAuth')  as f" 
      placeholder="No authentication required"
      formControlName="noAuth"
      (input)="refreshTargetValue()">Public client</mat-checkbox>
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-form-field class="w-100" *ngIf="clientForm.get('clientId')  as f">
      <input matInput
        placeholder="Client ID"
        formControlName="clientId"
        (input)="refreshTargetValue()"
        required="true">
      <mat-error *ngIf="f.invalid">{{ getErrorMessage(f) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" *ngIf="clientForm.get('clientSecret')  as f">
      <input matInput
        placeholder="Client secret"
        formControlName="clientSecret"
        (input)="refreshTargetValue()"
        required="true">
      <mat-error *ngIf="f.invalid">{{ getErrorMessage(f) }}</mat-error>
    </mat-form-field>
    <div formArrayName="redirectUris" *ngIf="clientForm.get('redirectUris')['controls'] as controls">
      <div *ngFor="let uri of controls; index as $index;" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field class="w-100">
          <input matInput
            [placeholder]="'Redirect URI #' + ($index + 1)"
            formControlName="{{ $index }}"
            (input)="refreshTargetValue()"
            [required]="$index === 0">
          <mat-error *ngIf="uri.invalid">{{ getErrorMessage(uri) }}</mat-error>
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="deleteRedirectUri($index)"
          *ngIf="controls.length != 1 || (controls[0] || {}).value">
          <mat-icon matTooltip="Delete Redirect URI" aria-label="Delete Redirect URI button">delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="addRedirectUri()">
          <mat-icon matTooltip="Add Redirect URI" aria-label="Add Redirect URI button">add</mat-icon>
        </button>
      </div>
    </div>
    <div formArrayName="postLogoutRedirectUris" *ngIf="clientForm.get('postLogoutRedirectUris')['controls'] as controls">
      <div *ngFor="let uri of controls; index as $index;" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field class="w-100">
          <input matInput
            [placeholder]="'Post-logout redirect URI #' + ($index + 1)"
            formControlName="{{ $index }}"
            (input)="refreshTargetValue()"
            [required]="$index === 0">
          <mat-error *ngIf="uri.invalid">{{ getErrorMessage(uri) }}</mat-error>
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="deletePostLogoutRedirectUri($index)"
          *ngIf="controls.length != 1 || (controls[0] || {}).value">
          <mat-icon matTooltip="Delete post-logoutredirect URI" aria-label="Delete post-logoutredirect URI button">delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="addPostLogoutRedirectUri()">
          <mat-icon matTooltip="Add post-logoutredirect URI" aria-label="Add post-logoutredirect URI button">add</mat-icon>
        </button>
      </div>
    </div>
    <br>
  </form>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
    <button mat-raised-button color="warn" (click)="deleteClient()">DELETE CLIENT</button>
  </mat-card-actions>
</mat-card>
