<mat-card *ngIf="!editMode">
  <mat-card-title>Signature URL</mat-card-title>
  <mat-divider></mat-divider>
  <br>
  <div *ngIf="(config$ | async) as config; else loading">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxLayout="column" class="btn-h">
        <span>{{ config.signatureURL || 'unset' }}</span>
      </div>
      <div fxLayout="column">
        <button mat-icon-button color="primary" [disabled]="(formLocked$ | async)" (click)="beginEdit();">
          <mat-icon matTooltip="Edit signature URL" aria-label="Edit signature URL button">edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <ng-template #loading>Loading...<br></ng-template>
</mat-card>
<mat-card *ngIf="editMode">
  <mat-card-title>Set signature URL</mat-card-title>
  <mat-divider></mat-divider>
  <br>
  <br>
  <mat-card-content>
    <mat-form-field class="w-100">
      <input matInput placeholder="signature URL" [formControl]="form" required>
      <mat-error *ngIf="form.invalid">{{ getErrorMessage(form) }}</mat-error>
    </mat-form-field>
  </mat-card-content>
  <ng-template #loading>Loading...<br></ng-template>
  <mat-card-actions *ngIf="(config$ | async) as config; else loading">
    <button mat-raised-button color="primary" (click)="submit()"
      [disabled]="(formLocked$ | async) || (config.signatureURL == form.value) || (form.invalid)">
      SAVE
    </button>
    <button mat-button (click)="cancelEdit()" [disabled]="(formLocked$ | async)">CANCEL</button>
  </mat-card-actions>
</mat-card>
