.locked {
  background: #eee;
}

.label {
  color: #999;
  min-width: 70px;
  font-size: 10px;
  margin: 4px 0 3px 0;
}

.fullName {
  font-size: 20px;
}

.identity {
  background-color: #fafafa;
  padding-right: 5px;
}
