.locked {
  background: #eee;
}

.label {
  color: #999;
  min-width: 70px;
  font-size: 10px;
  margin: 4px 0 3px 0;
}

.commonName {
  font-size: 18px;
  margin-bottom: 5px;
}

.otherInfo {
  font-size: 16px;
}

.identity {
  background-color: #fafafa;
  padding-right: 5px;
  padding-bottom: 5px;
}
