<mat-card>
    <mat-card-content>
      <div>
        <mat-form-field class="w-100">
          <input matInput placeholder="Key name" [formControl]="keyName" required>
          <mat-error *ngIf="keyName.invalid">{{ getErrorMessage(keyName) }}</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field class="w-100">
          <input matInput [formControl]="publicKey" placeholder="Public key" (focus)="publicKeyFocused = true"
          (focusout)="publicKeyFocused = false" required>
          <mat-hint *ngIf="publicKeyFocused">Bitcoin address</mat-hint>
          <mat-error *ngIf="publicKey.invalid">{{ getErrorMessage(publicKey) }}</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" [formControl]="expiration" placeholder="Expiration date" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDate" disabled="false"></mat-datepicker>
        <mat-error *ngIf="expiration.invalid">{{ getErrorMessage(expiration) }}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="w-100">
        <input matInput [formControl]="publicKey" placeholder="Public key" required>
        <mat-error *ngIf="publicKey.invalid">{{ getErrorMessage(publicKey) }}</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [formControl]="expiration" placeholder="Expiration date" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate" disabled="false"></mat-datepicker>
      <mat-error *ngIf="expiration.invalid">{{ getErrorMessage(expiration) }}</mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="createKey()"
      [disabled]="formLocked || keyName.invalid || publicKey.invalid">CREATE</button>
    <button mat-button [disabled]="formLocked" (click)="cancelKey()">CANCEL</button>
  </mat-card-actions>
</mat-card>
<div *ngFor="let errorMsg of errorMsgs;">
  <br>
  <mat-card *ngIf="errorMsg" class="error-card">{{ errorMsg.message }}</mat-card>
</div>
