<mat-dialog-content *ngIf='data.isUser'>
  <h3>Delete user identity {{ data.commonName }}?</h3>

  <p>Warning: deleting a user identity is irreversible, and also deletes all associated keys and API tokens.</p>

  <p>As a result, this identity will no longer be usable for signing, and <em>identity verification of signatures using
      this identity will trigger a warning</em>.</p>
</mat-dialog-content>
<mat-dialog-content *ngIf='!data.isUser'>
  <h3>Delete seal identity {{ data.commonName }}?</h3>

  <p>Warning: deleting a seal identity is irreversible, and also deletes all associated keys and API tokens.</p>

  <p>As a result, this identity will no longer be usable for creating seals, and <em>identity verification of seals
      using this identity will trigger an error</em>.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="true">OK</button>
</mat-dialog-actions>
