<div *ngIf="data">
  <mat-dialog-content style="font-family: Roboto, 'Helvetica Neue', sans-serif;">Your password as been changed, please log in.</mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button (click)="close()">Ok</button>
  </mat-dialog-actions>
</div>
<div *ngIf="!data">
  <mat-dialog-content style="font-family: Roboto, 'Helvetica Neue', sans-serif;">Invalid token.</mat-dialog-content>
  <mat-dialog-actions align="center">
      <button mat-button (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
