<mat-card *ngIf="!editMode">
  <mat-card-title>Default key</mat-card-title>
  <mat-divider></mat-divider>
  <br>
  <div *ngIf="loaded; else loading">
    <div *ngIf="loaded && defaultKey$; else noKey">
      <mat-card-content>
        <div *ngIf="(defaultKey$ | async) as key; else loading">
          <div *ngIf="(defaultKeyOwner$ | async) as user; else loading">
            <app-user-card [user]="user"></app-user-card>
            <br>
            <app-key-card [key]="key" [userId]="user.id" [default]="user.defaultKeyId == key.id"></app-key-card>
          </div>
        </div>
      </mat-card-content>
    </div>
    <ng-template #noKey>
      <p>There is no fallback key on this server</p>
    </ng-template>
  </div>
  <ng-template #loading>
    <mat-card>Loading... </mat-card>
  </ng-template>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="editMode=true" *ngIf="loaded && defaultKey$">CHANGE</button>
    <button mat-raised-button color="primary" (click)="editMode=true" *ngIf="!(loaded && defaultKey$)">SET ONE</button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="editMode">
  <mat-card-title>Select a user</mat-card-title>
  <mat-divider></mat-divider>
  <br>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="submit()">CHANGE</button>
    <button mat-button (click)="cancelEdit()">CANCEL</button>
  </mat-card-actions>
</mat-card>
