<nav role="navigation" *ngIf="router.url != '/login'">

  <mat-toolbar>
    <span>Application {{title}} "{{router.url}}"  {{  isAdmin()  }}</span>

    <div>
      <button mat-icon-button	(click)="logout()">
        <i class="material-icons">clear</i>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container *ngIf="isAdmin()">
    <mat-sidenav class="sidenav" fixedInViewport="true" role="navigation" mode="side" opened="true">
      <mat-nav-list>
        <mat-list-item routerLink="/setup">
          <div mat-button>
            <i class="material-icons">settings_power</i>
            <span>Setup</span>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/user">
          <div mat-button>
            <i class="material-icons">fingerprint</i>
            <span>Identity</span>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/credentials">
          <div mat-button>
            <i class="material-icons">vpn_key</i>
            <span>Credentials</span>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/settings">
          <div mat-button>
            <i class="material-icons">settings</i>
            <span>Settings</span>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/about">
          <div mat-button>
            <i class="material-icons">info</i>
            <span>About</span>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/users">
          <div mat-button>
            <i class="material-icons">perm_identity</i>
            <span>Users</span>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</nav>

<div class='ml-100' [ngClass]="{ 'ml-100' : isAdmin() }">

<ng-content></ng-content>
</div>
