<!-- <nav role="navigation"> -->
<mat-toolbar *ngIf="!hide()">
  <div fxLayout="row">
    <button mat-icon-button class="collapse-button" (click)="collapseSideBar()">
      <mat-icon>view_headline</mat-icon>
    </button>
    <img class="logo" [src]="config.logoURL || '/assets/logo.svg'">
    <div class="sub-logo">
      <span class="text-gray text-slim">{{ page() }}</span>
    </div>
  </div>
  <div fxLayout="row">
    <h1 class="mat-title text-center" style="line-height: 40px; margin-right: 12px">{{ commonName() }}</h1>
    <mat-divider vertical></mat-divider>
    <button mat-icon-button matTooltip="Logout" (click)="logout()" [disabled]="lock$ | async">
      <i class="material-icons">clear</i>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav *ngIf="(isAdmin() || isManager()) && !hide()" class="sidenav dark-theme" fixedInViewport="true" role="navigation"
    mode="{{mode}}" opened="{{opened}}">
    <mat-nav-list>
      <mat-list-item routerLink="/users" routerLinkActive="active-link">
        <div mat-button>
          <i class="material-icons">perm_identity</i>
          <span>Users</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/seals" routerLinkActive="active-link">
        <div mat-button>
          <img src="/assets/certificate.svg">
          <span>Seals</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/api-tokens" routerLinkActive="active-link">
        <div mat-button>
          <i class="material-icons">lock_outline</i>
          <span>API tokens</span>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="isAdmin()" routerLink="/settings" routerLinkActive="active-link">
        <div mat-button>
          <i class="material-icons">settings</i>
          <span>Settings</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/about" routerLinkActive="active-link">
        <div mat-button>
          <i class="material-icons">info_outline</i>
          <span>About</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div id="main-container">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>
