nav {

  $nav-top-height: 48px;
  $nav-bg: #fcfcfc;
  $nav-border: 1px solid #e0e0e0;

  mat-toolbar {
    position: relative;
    z-index: 10;
    background-color: #fff;

    display: flex;
    align-items: center;
    border-bottom: $nav-border;
    box-shadow: 0 2px 4px 0 #eee;
    justify-content: space-between;
    padding: 0 12px;
    height: $nav-top-height;
    min-width: 100%;
    width: fit-content;
  }

  mat-sidenav-container {
    height: 100%;
    &.active {
      position: absolute;
    }
  }

  .mat-drawer {
    box-shadow: none !important;
  }

  .sidenav {
    $nav-transition: width cubic-bezier(0.4, 0, 0.2, 1) .2s;
    $mat-list-item-height: 36px;

    width: 100px;
    padding-top: $nav-top-height;
    transition: $nav-transition;
    height: 100%;
    background-color: $nav-bg;
    border-right: $nav-border;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    [mat-button] {
      height: $mat-list-item-height;
      width: 100%;
      text-align: left;
      padding: 0 8px;
      margin: 0;
      font-weight: 400;
      border-radius: 0;
      text-decoration: none;
      text-transform: none;
      overflow: hidden;
      user-select: none;
    }

    .mat-list-item {
      height: $mat-list-item-height;
      min-height: $mat-list-item-height;
      margin: 0;

      i {
        float: left;
        margin: 5px 15px 0;
      }

      span {
        line-height: $mat-list-item-height;
        overflow: hidden;
        display: block;
      }
    }

    &:hover {
      width: 200px;
      transition: $nav-transition .7s;
    }

  }

}
