$mat-list-item-height: 36px;
$nav-top-height: 48px;
$side-nav-width: 200px;
$nav-bg: #1d2939;
$nav-border: 1px solid #e0e0e0;

.logo {
  width: 120px;
  height: 28px;
  margin-right: 68px;
  margin-top: 3px;
}

.sub-logo {
  margin-left: -30px;
}

mat-toolbar {
  position: fixed;
  z-index: 10;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-bottom: $nav-border;
  justify-content: space-between;
  padding: 0 12px;
  height: $nav-top-height;
  min-width: 100%;
  width: fit-content;
}

#main-container {
  padding-top: $nav-top-height;
}

mat-sidenav-container {
  background-color: #e4e7ea;
  height: 100%;
}

.sidenav {
  width: $side-nav-width;
  padding-top: $nav-top-height;
  background-color: $nav-bg;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  [mat-button] {
    height: $mat-list-item-height;
    width: 100%;
    text-align: left;
    padding: 0 8px;
    margin: 0;
    font-weight: 400;
    border-radius: 0;
    text-decoration: none;
    text-transform: none;
    overflow: hidden;
    user-select: none;
  }

  .mat-list-item {
    height: $mat-list-item-height;
    min-height: $mat-list-item-height;
    color: #9e9e9e;
    margin: 0;

    i {
      float: left;
      margin: 5px 15px 0;
    }

    img {
      float: left;
      margin: -5px 9px 0;
      height: $mat-list-item-height;
    }

    span {
      line-height: $mat-list-item-height;
      font-weight: lighter;
      overflow: hidden;
      display: block;
    }
  }
}

.collapse {
  width: 0px;
}

.collapse-button {
  height: 28px;
  background-position: center;
}
