<mat-card>
  <button routerLink="/user/create" mat-button>ADD USER</button>
</mat-card>
<br>

<div *ngIf="(users$ | async) as users; else loading">
  <div *ngIf="users.length; else noUser">
    <div *ngFor="let user of users">
      <mat-card>
        <a [routerLink]="['/user/', user.id]">{{ user.username }}</a>
        <div>{{ user.email }}</div>
        <div>{{ user.firstName }}</div>
        <div>{{ user.lastName }}</div>
      </mat-card>
      <br>
    </div>
  </div>
  <ng-template #noUser>No user yet</ng-template>
</div>
<ng-template #loading>
  <mat-card>Loading...</mat-card>
</ng-template>
