<button (click)="formOpened=true" mat-raised-button color="primary" *ngIf="!formOpened">ADD API KEY</button>
<div *ngIf="formOpened">
  <api-key-create-card (reset)="formOpened=false" (create)="refreshList()"></api-key-create-card>
</div>
<br>
<br>
<mat-divider></mat-divider>
<br>
<div *ngIf="(apiKeys$ | async) as apiKeys; else loading">
  <div *ngIf="apiKeys.length; else noApiKeys">
    <div *ngFor="let apiKey of apiKeys; trackBy: trackById;">
      <app-api-key-card [apiKey]="apiKey" (delete)="refreshList()"></app-api-key-card>
      <br>
    </div>
  </div>
  <ng-template #noApiKeys>No api key yet</ng-template>
</div>
<ng-template #loading>
  <mat-card>Loading...</mat-card>
</ng-template>
