<mat-card fxLayout="row" fxLayoutAlign="space-between start" class="key-card" [ngClass]="{'default': default}">
  <div fxLayout="column">
    <div fxLayout="row">
      <div fxLayout="column" class="card-icon">
        <mat-icon>vpn_key_outline</mat-icon>
      </div>
      <div fxLayout="column">
        <strong>{{ key.name }}</strong>
        <div>
          <span>Public&nbsp;key</span><code>{{ key.publicKey }}</code></div>
        <div class="text-gray text-slim">
          <span>Created&nbsp;at</span>&nbsp;<span>{{ key.createdAt | date }}</span>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column">
    <div>
      <button mat-icon-button color="warn">
        <mat-icon matTooltip="Delete key" aria-label="Delete key button" (click)="deleteKey()">delete</mat-icon>
      </button>
      <button mat-icon-button color="warn" *ngIf="key.status !== 'blocked'">
        <mat-icon matTooltip="Block key" aria-label="Block key button" (click)="blockKey()">pause_circle_outline</mat-icon>
      </button>
      <button mat-icon-button color="primary" *ngIf="key.status === 'blocked'">
        <mat-icon matTooltip="Unblock key" aria-label="Unblock key button" (click)="unblockKey()">play_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
