<mat-card class="key-card" [ngClass]="{'default': default}">
  <!-- Display mode -->
  <mat-card-content *ngIf="!editMode" fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column">
      <div fxLayout="row">
        <div fxLayout="column" class="card-icon">
          <mat-icon>vpn_key_outline</mat-icon>
        </div>
        <div fxLayout="column">
          <strong>{{ key.name }}</strong>
          <div>
            <span>Public&nbsp;key</span><code>{{ key.pubKey }}</code></div>
          <div class="text-gray text-slim">
            <span>Created&nbsp;at</span>&nbsp;<span>{{ key.createdAt | date }}</span>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column">
      <div>
        <button mat-icon-button color="primary" *ngIf="modes.includes('edit')" [disabled]="formLocked" (click)="setEditMode(true)">
          <mat-icon matTooltip="Edit key" aria-label="Edit key button">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" *ngIf="modes.includes('block') && key.status !== 'blocked'" [disabled]="formLocked" (click)="blockKey()">
          <mat-icon matTooltip="Block key" aria-label="Block key button">pause_circle_outline</mat-icon>
        </button>
        <button mat-icon-button color="primary" *ngIf="modes.includes('block') && key.status === 'blocked'" [disabled]="formLocked" (click)="unblockKey()">
          <mat-icon matTooltip="Unblock key" aria-label="Unblock key button">play_circle_outline</mat-icon>
        </button>
        <button mat-icon-button color="warn" *ngIf="modes.includes('delete')" [disabled]="formLocked" (click)="deleteKey()">
          <mat-icon matTooltip="Delete key" aria-label="Delete key button">delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
  <!-- Edit mode -->
  <mat-card-content *ngIf="editMode">
    <div>
      <mat-form-field class="w-100">
        <input matInput placeholder="Key name" [formControl]="keyName" required>
        <mat-error *ngIf="keyName.invalid">{{ getErrorMessage(keyName) }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox matInput placeholder="Set as default key" [checked]="setAsDefault" (change)="setAsDefault=!setAsDefault">
        Set as default
      </mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="editMode">
    <button mat-raised-button color="primary" (click)="editKey()" [disabled]="formLocked || keyName.invalid">SAVE</button>
    <button mat-button [disabled]="formLocked" (click)="setEditMode(false)">CANCEL</button>
  </mat-card-actions>

</mat-card>
