<mat-card class="key-card" [ngClass]="{'default': default}">
  <!-- Display mode -->
  <mat-card-content *ngIf="!editMode" fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column">
      <div fxLayout="row" fxFill>
        <div fxLayout="column" class="card-icon">
          <mat-icon style="height: 32px;">vpn_key_outline</mat-icon>
          <mat-icon *ngIf="key.holder === 'server'" style="font-size: 36px; color: #ffacac; height: 32px;">
            vpn_key_outline
          </mat-icon>
        </div>
        <div fxLayout="column">
          <div fxLayout="row" style="margin-bottom: 10px"><strong>{{ key.name }}</strong></div>
          <div fxLayout="row" fxLayoutGap="5px">
            <div fxLayout="column" class="label" dir="rtl">public key</div>
            <div fxLayout="column">{{ key.pubKey }}</div>
          </div>
          <div fxLayout="row" fxLayoutGap="5px">
            <div fxLayout="column" class="label" dir="rtl">created on</div>
            <div fxLayout="column">{{ key.createdAt | date }}</div>
          </div>
          <div *ngIf="key.expiration" fxLayout="row" fxLayoutGap="5px">
            <div fxLayout="column" class="label" dir="rtl">expires on</div>
            <div fxLayout="column">{{ key.expiration | date }}</div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column">
      <div>
        <button mat-icon-button color="primary" *ngIf="modes.includes('edit')" [disabled]="formLocked"
          (click)="setEditMode(true)">
          <mat-icon matTooltip="Edit key" aria-label="Edit key button">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" *ngIf="modes.includes('block') && key.status !== 'blocked'"
          [disabled]="formLocked" (click)="blockKey()">
          <mat-icon matTooltip="Block key" aria-label="Block key button">pause_circle_outline</mat-icon>
        </button>
        <button mat-icon-button color="primary" *ngIf="modes.includes('block') && key.status === 'blocked'"
          [disabled]="formLocked" (click)="unblockKey()">
          <mat-icon matTooltip="Unblock key" aria-label="Unblock key button">play_circle_outline</mat-icon>
        </button>
        <button mat-icon-button color="warn" *ngIf="modes.includes('delete')" [disabled]="formLocked"
          (click)="deleteKey()">
          <mat-icon matTooltip="Delete key" aria-label="Delete key button">delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
  <!-- Edit mode -->
  <mat-card-content *ngIf="editMode">
    <div>
      <mat-form-field class="w-100">
        <input matInput placeholder="Key name" [formControl]="keyName" required>
        <mat-error *ngIf="keyName.invalid">{{ getErrorMessage(keyName) }}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxLayout="column">
        <br>
        <mat-checkbox *ngIf="key.holder === 'server'" placeholder="Set as default key" [(ngModel)]="setAsDefault">
          Set as default
        </mat-checkbox>
      </div>
      <div fxLayout="column">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [formControl]="expiration" placeholder="Expiration date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate" disabled="false"></mat-datepicker>
          <mat-error *ngIf="expiration.invalid">{{ getErrorMessage(expiration) }}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="editMode">
    <button mat-raised-button color="primary" (click)="editKey()" [disabled]="formLocked || keyName.invalid">
      SAVE
    </button>
    <button mat-button [disabled]="formLocked" (click)="setEditMode(false)">CANCEL</button>
  </mat-card-actions>
</mat-card>
