<mat-card>
  <mat-card-title>Terms and Conditions of Use</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content hidden>
    <input type="file" id="userFile" (change)="onSelectFile($event)" #fileInput hidden>
    <mat-error *ngIf="errorMessage">
      {{errorMessage}}
    </mat-error>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="selectFile()">CHANGE</button>
    <button mat-raised-button color="primary" (click)="reset()">RESET TO DEFAULT</button>
    <a [href]="getTCUURL()" target="_blank" class="black-link">
      <button mat-raised-button color="primary">VIEW</button>
    </a>
  </mat-card-actions>
</mat-card>
