  <mat-card>
    <mat-card-title>Terms and Conditions of Use</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <br>
    <mat-card-content>
        <input type="file" id="userFile" (change)="onSelectFile($event)" #fileInput style="display: none">
        <mat-form-field >
          <input matInput [formControl]="form" placeholder="Terms and Conditions of Use" readonly>
        </mat-form-field>
        <button mat-button (click)="selectFile()">CHANGE</button>
        <br>
        <mat-error *ngIf="errorMessage">
          {{errorMessage}}
        </mat-error>
    </mat-card-content>
    <ng-template #loading>Loading...<br></ng-template>
  </mat-card>
  