<div *ngIf="(keys$ | async) as keys; else loadingKeys">
  <div fxLayout="row" fxLayoutWrap fxLayoutGap="20px" *ngIf="!formOpened && !externalFormOpened">
    <button fxLaytout="column" mat-raised-button color="primary" (click)="formOpened=true">
      ADD KEY PAIR
    </button>
    <button fxLaytout="column" mat-raised-button color="primary" (click)="externalFormOpened=true">
      ADD PUBLIC KEY
    </button>
    <div [matTooltipDisabled]="canEnroll()"
      [matTooltip]="'To activate this option, please setup:\n- Mailing / SMTP configuration\n- Server URLs / Web client URL\n- Organization / admin contact\n- ProofDesk account / API configuration'">
      <button fxLayout="column" mat-raised-button color="primary" (click)="sendEnrollmentMail()"
        [disabled]="!canEnroll()">
        ENROLL PUBLIC KEY
      </button>
    </div>
  </div>
  <div *ngIf="formOpened">
    <key-card-create (reset)="formOpened=false" (create)="refreshKeyList()" [userId]="userId"></key-card-create>
  </div>
  <div *ngIf="externalFormOpened">
    <key-card-create-extern (reset)="externalFormOpened=false" (create)="refreshKeyList()" [userId]="userId">
    </key-card-create-extern>
  </div>
  <br>
  <mat-divider></mat-divider>
  <div *ngIf="keys.length; else noKeys">
    <div *ngFor="let key of keys; trackBy: trackById;">
      <br>
      <app-key-card [key]="key" [userId]="(user$ | async)?.id" [modes]="['block', 'delete', 'edit']"
        [default]="(user$ | async)?.defaultKeyId == key.id" (updateUser)="refreshUser()" (delete)="refreshKeyList()">
      </app-key-card>
    </div>
  </div>
  <ng-template #noKeys>
    <br>
    <mat-card fxLayout="row" fxLayoutAlign="space-between start">
      <span class="btn-h">This user does not have any key</span>
    </mat-card>
  </ng-template>
</div>
<ng-template #loadingKeys>
  <mat-card>Loading...</mat-card>
</ng-template>
