<mat-card *ngIf="(config$ | async) as config; else loading">
  <mat-card-title>API configuration</mat-card-title>
  <mat-divider></mat-divider>
  <br>
  <mat-checkbox matInput placeholder="Set as default key" [(ngModel)]="enableProofDesk"
    [disabled]="(formLocked$ | async)">
    Enable ProofDesk
  </mat-checkbox>
  <mat-error *ngIf="config.proofDeskError && updated" style="font-size: small;">
    {{ config.proofDeskError }}
  </mat-error>
  <br *ngIf="!(config.proofDeskError && updated)">
  <br>
  <mat-divider></mat-divider>
  <br>
  <form [formGroup]="form">
    <mat-form-field class="w-100" *ngIf="form.get('proofDeskAPIURL')  as f">
      <input matInput placeholder="API URL" formControlName="proofDeskAPIURL">
      <mat-error *ngIf="f.invalid">{{ getErrorMessage(f) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" *ngIf="form.get('proofDeskAPIToken') as f">
      <input matInput placeholder="API token" formControlName="proofDeskAPIToken">
      <mat-error *ngIf="f.invalid">{{ getErrorMessage(f) }}</mat-error>
    </mat-form-field>
  </form>
  <mat-card-actions *ngIf="(config$ | async) as config; else loading">
    <button mat-raised-button color="primary" (click)="update()"
      [disabled]="form.invalid || (config.proofDeskAPIURL == this.form.get('proofDeskAPIURL').value &&
      config.proofDeskAPIToken == this.form.get('proofDeskAPIToken').value && config.enableProofDesk == enableProofDesk)">
      SAVE
    </button>
  </mat-card-actions>
</mat-card>
<ng-template #loading>Loading...<br></ng-template>
