<mat-card *ngIf="(config$ | async) as config; else loading">
  <mat-card-title>API configuration</mat-card-title>
  <mat-divider></mat-divider>
  <br>
  <mat-checkbox matInput placeholder="Set as default key" [(ngModel)]="proofDeskAPIIsValid" [disabled]="(formLocked$ | async)"
    (change)="updated = false">
    Enable ProofDesk
  </mat-checkbox>
  <br>
  <br>
  <mat-divider></mat-divider>
  <br>
  <form [formGroup]="form">
    <mat-form-field class="w-100" *ngIf="form.get('proofDeskAPIURL')  as f">
      <input matInput placeholder="API URL" formControlName="proofDeskAPIURL">
      <mat-error *ngIf="f.invalid">{{ getErrorMessage(f) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" *ngIf="form.get('proofDeskAPIToken') as f">
      <input matInput placeholder="API token" formControlName="proofDeskAPIToken">
      <mat-error *ngIf="f.invalid">{{ getErrorMessage(f) }}</mat-error>
    </mat-form-field>
  </form>
  <mat-error *ngIf="updated && !proofDeskAPIIsValid">ProofDesk API is not valid.</mat-error>
  <mat-card-content *ngIf="updated && proofDeskAPIIsValid">
    Woleet.ID Server is now linked to your ProofDesk account
  </mat-card-content>
  <mat-card-actions *ngIf="(config$ | async) as config; else loading">
    <button mat-raised-button color="primary" (click)="update()" [disabled]="form.invalid || (config.proofDeskAPIURL == this.form.get('proofDeskAPIURL').value &&
      config.proofDeskAPIToken == this.form.get('proofDeskAPIToken').value && config.proofDeskAPIIsValid == proofDeskAPIIsValid)">SAVE
    </button>
  </mat-card-actions>
</mat-card>
<ng-template #loading>Loading...<br></ng-template>
