<div class="form-container">
  <div *ngIf="!validationStep">
    <form role="form" autoComplete="off" (submit)="resetPassword()" #f="ngForm">
      <mat-form-field class="w-100">
        <input matInput type="email" placeholder="Email" [(ngModel)]="email" [formControl]="form.email" (focus)="form.email.focused = true"
          (focusout)="form.email.focused = false" required>
        <mat-hint *ngIf="form.email.focused">Your email address</mat-hint>
        <mat-error *ngIf="form.email.invalid">Must be a valid email address</mat-error>
      </mat-form-field>
      <br>
      <mat-card *ngIf="errorMsg" class="error-card">{{ errorMsg }}</mat-card>
      <br>
      <button mat-raised-button color="primary" class="w-100" [disabled]="form.email.invalid">Ask for a reset link</button>
    </form>
  </div>
  <div *ngIf="validationStep">
    <form role="form" autoComplete="off" (submit)="validate()" #f="ngForm">
      <mat-form-field class="w-100">
        <input matInput type="password" placeholder="New password" [(ngModel)]="password" [formControl]="form.password"
          (focus)="form.password.focused = true" (focusout)="form.password.focused = false" required>
        <mat-error *ngIf="form.password.invalid">{{ getErrorMessage(form.password) }}</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput type="password" placeholder="Confirm new password" [(ngModel)]="passwordConfirm" [formControl]="form.passwordConfirm"
          (focus)="form.passwordConfirm.focused = true" (focusout)="form.passwordConfirm.focused = false" required>
        <mat-error *ngIf="passwordConfirm !== password">Password doesn't match</mat-error>
      </mat-form-field>
      <br>
      <mat-card *ngIf="errorMsg" class="error-card">{{ errorMsg }}</mat-card>
      <br>
      <button mat-raised-button color="primary" class="w-100" [disabled]="form.password.invalid || (passwordConfirm !== password)">Change
        Password</button>
    </form>
  </div>
  <br>
  <div>Remember It? <a [routerLink]="['/login']">Return to the login page.</a></div>
</div>
