<div *ngIf="serverPublicInfo">
  <logo [logoURL]="serverPublicInfo.logoURL"></logo>
  <html-frame [HtmlFrame]="serverPublicInfo.HTMLFrame"></html-frame>
</div>
<div class="form-container" *ngIf="(!redirect || !useOIDC)">
  <form role="form" (submit)="login()" #f="ngForm">
    <div>
      <mat-form-field class="w-100">
        <input matInput type="text" placeholder="Username or email" [disabled]="lock$ | async" [(ngModel)]="user.username"
          name="username" autocomplete="username" autofocus>
      </mat-form-field>
    </div>
    <br>
    <br>
    <div>
      <mat-form-field class="w-100">
        <input matInput type="password" placeholder="Password" [disabled]="lock$ | async" [(ngModel)]="user.password"
          name="password" autocomplete="current-password">
      </mat-form-field>
    </div>
    <br>
    <mat-card *ngIf="errorMsg" class="error-card">{{ errorMsg }}</mat-card>
    <br>
    <br>
    <button mat-raised-button color="primary" class="w-100" [disabled]="lock$ | async" (click)="login()">LOGIN</button>
  </form>
  <br>
  <br>
  <button mat-raised-button
    color="primary"
    class="w-100"
    *ngIf="useOIDC"
    [disabled]="lock$ | async" (click)="openid()">LOGIN WITH OPENID</button>
</div>
