<logo [logoURL]="config.logoURL"></logo>
<html-frame [HTMLFrame]="config.HTMLFrame"></html-frame>
<div class="form-container">
  <form role="form" (submit)="login()" #f="ngForm">
    <div>
      <mat-form-field class="w-100">
        <input matInput type="text" placeholder="Username or email" [disabled]="lock$ | async"
          [(ngModel)]="user.username" name="username" autocomplete="username" autofocus>
      </mat-form-field>
    </div>
    <br>
    <br>
    <div>
      <mat-form-field class="w-100">
        <input matInput type="password" placeholder="Password" [disabled]="lock$ | async" [(ngModel)]="user.password"
          name="password" autocomplete="current-password">
      </mat-form-field>
    </div>
    <br>
    <mat-card *ngIf="errorMsg" class="error-card">{{ errorMsg }}</mat-card>
    <br>
    <br>
    <button mat-raised-button color="primary" class="w-100" [disabled]="lock$ | async" (click)="login()">LOGIN</button>
  </form>
  <br>
  <div *ngIf="config.enableSMTP && config.webClientURL" class="mat-form-field">
    <a [routerLink]="['/reset-password']">Forgot password?</a>
  </div>
  <br>
  <button mat-raised-button color="primary" class="w-100" *ngIf="config.enableOpenIDConnect" [disabled]="lock$ | async"
    (click)="openid()">
    LOGIN WITH OPENID
  </button>
</div>

<div class="w-100">
  <div class="tcu">
    <a [href]="getTCUURL()" target="_blank">
      show terms and conditions of use
    </a>
  </div>
</div>