<div class="form-container">
  <form role="form" (submit)="login()" #f="ngForm">
    <div>
      <mat-form-field class="w-100">
        <input matInput type="text" placeholder="Username or email" [(ngModel)]="user.username" name="username" autocomplete="username">
      </mat-form-field>
    </div>
    <br>
    <br>
    <div>
      <mat-form-field class="w-100">
        <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" name="password" autocomplete="current-password">
      </mat-form-field>
    </div>
    <br>
    <br>
    <br>
    <br>
    <button mat-raised-button color="primary" class="w-100" type="submit">LOGIN</button>
  </form>
</div>
