<mat-card *ngIf="(config$ | async) as config; else loading">
  <mat-card-title>Client configuration</mat-card-title>
  <mat-divider></mat-divider>
  <br>
  <mat-checkbox matInput placeholder="Set as default key"
    [(ngModel)]="config.useOpenIDConnect"
    (change)="updateUseOpenIDConnectOption(config.useOpenIDConnect)"
    [disabled]="(formLocked$ | async)">Enable OpenID Connect client
  </mat-checkbox>
  <br>
  <br>
  <mat-divider></mat-divider>
  <br>
  <form [formGroup]="form">
    <mat-form-field class="w-100" *ngIf="form.get('openIDConnectURL')  as f">
      <input matInput placeholder="OpenID Connect URL"
        formControlName="openIDConnectURL"
        (input)="change()"
        [required]="useOpenIDConnect$ | async">
      <mat-error *ngIf="f.invalid">{{ getErrorMessage(f) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" *ngIf="form.get('openIDConnectClientId') as f">
      <input matInput placeholder="Client ID"
        formControlName="openIDConnectClientId"
        (input)="change()"
        [required]="useOpenIDConnect$ | async">
      <mat-error *ngIf="f.invalid">{{ getErrorMessage(f) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" *ngIf="form.get('openIDConnectClientSecret') as f">
      <input matInput placeholder="Client secret"
        [type]="reveal ? 'text' : 'password'"
        formControlName="openIDConnectClientSecret"
        (input)="change()"
        [required]="useOpenIDConnect$ | async">
      <button mat-button *ngIf="f.value" matSuffix mat-icon-button (click)="reveal=!reveal">
        <mat-icon matTooltip="Show secret" aria-label="Show secret button">remove_red_eye</mat-icon>
      </button>
      <mat-error *ngIf="f.invalid">{{ getErrorMessage(f) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" *ngIf="form.get('openIDConnectClientRedirectURL')  as f">
      <input matInput placeholder="Authorization callback URL"
        formControlName="openIDConnectClientRedirectURL"
        (input)="change()"
        [required]="useOpenIDConnect$ | async">
      <mat-error *ngIf="f.invalid">{{ getErrorMessage(f) }}</mat-error>
    </mat-form-field>
  </form>
  <mat-card-actions>
    <button mat-raised-button color="primary"
      (click)="update()"
      [disabled]="(!changed) || (formLocked$ | async)|| ((useOpenIDConnect$ | async) && !(formValid$ | async))">SAVE
    </button>
  </mat-card-actions>
</mat-card>
<ng-template #loading>Loading...<br></ng-template>
