<div class="container">
  <%- form %>
  <button autofocus type="submit" form="op.logoutForm" value="yes" name="logout" class="login login-submit">Yes, sign me out</button>
  <button type="submit" form="op.logoutForm" class="login login-submit">No, stay signed in</button>
</div>