<mat-card fxLayout="row" fxLayoutAlign="space-between start">
  <div fxLayout="column">
    <div>
      <span>Name</span>&nbsp;
      <span>{{ apiKey.name }}</span>
    </div>
    <div>
      <span>Created&nbsp;at</span>&nbsp;&nbsp;
      <span>{{ apiKey.createdAt | date }}</span>
    </div>
  </div>
  <div fxLayout="column">
    <button mat-button color="warn" (click)="reveal()" *ngIf="!displayApiKey">REVEAL</button>
    <pre *ngIf="displayApiKey" class="key-val"><code>{{ apiKey.value }}</code></pre>
  </div>
  <div fxLayout="column">
    <div>
      <button mat-icon-button color="warn">
        <mat-icon matTooltip="Delete API key" aria-label="Delete key" (click)="deleteKey()">delete</mat-icon>
      </button>
      <button mat-icon-button color="warn" *ngIf="apiKey.status !== 'blocked'">
        <mat-icon matTooltip="Block API key" aria-label="Block key button" (click)="blockKey()">pause_circle_outline</mat-icon>
      </button>
      <button mat-icon-button color="primary" *ngIf="apiKey.status === 'blocked'">
        <mat-icon matTooltip="Unblock API key" aria-label="Unblock key button" (click)="unblockKey()">play_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
